$color-prime: #2b2b2b;
$color-requiredField: #e00000;
$color-second: #579407;
$color-on-accent: #f2f7ec;
$color-footer:#cca97a;
$color-btn:#FA7C30;
$prim_color: #ED1C24;
$second_color:#ffffff;
$color-border: #8d8d8d;
$back-popup: #2b2b2bc4;