.delivery-methods{
    font-family: $prim-font;
    color: $color-prime;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    margin-bottom: 30px;
};

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-shrink: 0;
};

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $color-prime;
    opacity: 0.8;
    transition: 300ms;
    cursor: pointer;
    span {
        margin-top: 5px;
    };
};

.option:hover{
    opacity: 1;
    color: $color-second;
};

.option-discript{
    display: none;
    color: $color-prime;
    margin-top: 10px;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
    };

@media(max-width: 869px){
    .delivery-methods{
        width: 100%;
            max-width: calc(100vw - 100px);
            margin-top: 20px;
            h2 {
                text-align: center;
            };
    };
    .options{
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 30px;
    };
    .option{
        font-size: 18px;
    };
};

@media(max-width: 619px){
    .delivery-methods{
        width: 100%;
            max-width: calc(100vw - 60px);
            margin-top: 20px;
            padding: 20px 0px;
            h2 {
                text-align: center;
            };
    };
    .options{
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
        flex-wrap: nowrap;
    };
    .option{
        font-size: 18px;
        span {
            margin-top: 0px;
        };
    };
};