.payment-methods{
    font-family: $prim-font;
    color: $color-prime;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
};

.methods{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-shrink: 0;
};

.method{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $color-prime;
    opacity: 0.8;
    transition: 300ms;
    cursor: pointer;
    span {
        margin-top: 8px;
    };

};

.payment-methods.test{

    opacity: 0.2;

};
.method:hover{
    opacity: 1;
    color: $color-second;
};

.method-discript{
    display: block;
    color: $color-prime;
    margin-top: 10px;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
    };

@media(max-width: 869px){
    .payment-methods{
        width: 100%;
        max-width: calc(100vw - 100px);
        margin-top: 20px;
        h2 {
            text-align: center;
        };
    };
    .methods{
        justify-content: center;
        gap: 100px;
        margin-top: 30px;
    };
    .method{
        font-size: 18px;
    };

};

@media(max-width: 619px){
    .payment-methods{
        padding: 20px 0px;
        width: 100%;
        max-width: calc(100vw - 100px);
        margin-top: 20px;
        h2 {
            text-align: center;
        };
    };
    .methods{
        justify-content: space-between;
        gap: 0px;
        margin-top: 30px;
        flex-wrap: nowrap;
    };
    .method{
        font-size: 18px;
    };

};