

*,
*::before,
*::after {box-sizing: border-box;};



body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    border: none;
    outline: none;
};

